.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  min-height: 100vh;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  text-align: center;
  width: 100%;
  max-width: var(--max-width);
  margin-block: 2rem;
}

.hero .description p {
  transform: rotate(-1deg);
}

.projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  margin-block: 2rem;
}

.project {
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 0 5px 10px 1px rgba(var(--card-border-rgb), 0.3);
}

.project:hover {
  box-shadow: 0 5px 10px 1px rgba(var(--card-border-rgb), 0.5);
  transform: scale(1.01);
  transform: rotate(1deg);
  transition: all 0.2s ease-in-out;
}

.project_image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 200px;
  border-radius: 5px;
  overflow: hidden;
}

.description {
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  font-size: 0.85rem;
  max-width: var(--max-width);
  width: 100%;
  z-index: 2;
  font-family: var(--font-mono);
}

.description a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.description p {
  position: relative;
  margin: 0;
  margin-block: 1rem;
  line-height: 1.5rem;
}

.heading_1 {
  font-size: 4rem;
  font-weight: 600;
  margin-block: 1rem;

  /** TEXT GRADIENT */
  color: #424242;
  background-image: -webkit-linear-gradient(
    0deg,
    #424242 0%,
    #33474d 39%,
    #e0e0e0 74%
  );
  background-clip: text;
  -webkit-background-clip: text;
  text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
}

.heading_2 {
  font-size: 1.15rem;
  font-weight: 600;
  letter-spacing: 2px;
  margin-block: 1rem;
  color: rgba(var(--card-border-rgb), 0.5);
}

.heading_3 {
  font-size: 1.2rem;
  font-weight: 600;
  margin-block: 1rem;
  color: rgba(var(--card-border-rgb), 1);
}

.social_links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-block: 1rem;
}

.icons_copyright {
  color: rgba(var(--card-border-rgb), 0.5);
}

.icons_copyright a {
  text-decoration: underline;
}

.hero_heading {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.profile_image {
  border-radius: 100%;
}

@media screen and (max-width: 768px) {
  .hero_heading {
    flex-direction: column;
  }
}
