.title {
  font-size: 2rem;
  color: #aaa;
  margin-bottom: 1rem;
  text-decoration: none;
}

.list {
  list-style: none;
  padding: 0;
  margin-block: 2rem;
}

.list > li {
  margin-bottom: 1rem;
}

.title:hover {
  color: #8e8e8e;
}
