.main {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  margin-block-start: 5rem;
  padding: 1rem;
  width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  width: 100%;
  max-width: var(--max-width);
  margin: 0 auto;
  background: linear-gradient(
    180deg,
    rgba(32, 32, 32, 0.5) 0%,
    rgba(0, 0, 0, 1) 100%,
    rgba(0, 0, 0, 1) 100%
  );
  background-size: 100% 20%;
  background-repeat: no-repeat;
  background-color: #000;
}

.flex_container {
  display: flex;
  @media screen and (max-width: 768px) {
    flex-direction: column;
    gap: 2rem;
  }
}

.flex_container > img {
  margin-inline-end: 2rem;
  border-radius: 15px;
  @media screen and (max-width: 768px) {
    width: 100%;
    object-fit: cover;
  }
}

.content_container {
  width: 100%;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  gap: 1rem;
  text-align: left;
  width: 100%;
  max-width: 1100px;
  margin-block-end: 4rem;
}

.p_description {
  overflow: hidden;
  max-width: 80ch;
  line-height: 1.5rem;
  font-size: 1rem;
  color: #a9a9a9;
  font-family: var(--font-merriweather);
  opacity: 0;
  animation: fade-in 0.5s ease-in-out 0.5s forwards;
  margin-block-end: 1rem;
}

.p_quote {
  overflow: hidden;
  text-align: center;
  padding-block: 2rem;
  max-width: 80ch;
  line-height: 1.5rem;
  font-size: 1rem;
  color: #a9a9a9;
  font-family: var(--font-merriweather);
  opacity: 0;
  animation: fade-in 0.5s ease-in-out 0.5s forwards;
  .marker {
    color: #754ada;
    background-color: #754ada35;
  }
}

.hero .description {
  overflow: hidden;
  max-width: 80ch;
  font-size: 1rem;
  color: #a9a9a9;
  font-family: var(--font-merriweather);
}

.hero .description p {
  font-family: var(--font-sans);
  opacity: 0;
  margin-block: 2rem;
  animation: fade-in 0.5s ease-in-out 0.5s forwards;
}

.skills_section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-block: 6rem;
  overflow: visible;
  border-radius: 5px;

  max-width: var(--max-width);
}

.skills {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
  width: 100%;
  justify-content: center;
  text-align: center;
  gap: 3rem;
  margin-block-start: 2rem;
}

.skill h3 {
  font-size: clamp(0.75rem, 2vw, 1rem);
}

.skill_image {
  width: 100%;
  max-width: 100%;
  aspect-ratio: 1/1;
  object-fit: contain;
  object-position: center;
}

.form {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
}

.form p {
  margin-block: 1rem;
  max-width: 50ch;
}

.form_field {
  margin-block: 2rem;
  max-width: 60ch;
}

.form_field > label {
  display: block;
  margin-block: 0.5rem;
  font-size: 1rem;
  font-weight: 600;
  color: #a9a9a9;
}

.form_field > input,
.form_field > textarea {
  display: block;
  width: 100%;
  padding: 0.5rem;
  border: 1px solid rgba(var(--card-border-rgb), 0.5);
  border-radius: 5px;
  background-color: rgba(var(--card-border-rgb), 0.1);
  font-size: 0.85rem;
  resize: none;
}

.validation_error {
  display: block;
  margin-block: 0.5rem;
  font-size: 0.85rem;
  font-weight: 700;
  letter-spacing: 2px;
  color: #de5e5e;
  display: none;
}

.validation_error.show {
  display: block;
  animation: fade-in 0.5s ease-in-out forwards;
}

.description {
  background-color: transparent;
  justify-content: inherit;
  align-items: inherit;
  font-size: 1rem;
  max-width: var(--max-width);
  width: 100%;
  z-index: 2;
}

.description a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.description p {
  position: relative;
  margin: 0;
  margin-block: 1rem;
  line-height: 1.5rem;
}

.heading {
  font-family: var(--font-oswald);
  font-size: clamp(2.5rem, 10vw, 6rem);
  font-weight: 900;
  margin-block: 1rem;
  text-transform: uppercase;
  background: linear-gradient(to right, #100b1c 20%, #016894 30%, #013045 70%);
  background-position: 100% 50%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 500% auto;
  opacity: 0;
  animation: drop-in 0.5s ease-in-out 0.1s forwards;
}

.heading_1 {
  font-family: var(--font-oswald);
  font-size: clamp(2.5rem, 10vw, 6rem);
  font-weight: 900;
  margin-block: 1rem;
  text-transform: uppercase;
  background: linear-gradient(to right, #100b1c 20%, #016894 30%, #013045 70%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 500% auto;
  animation: textShine 5s ease-in-out infinite alternate;
}

@keyframes textShine {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}
.heading_2 {
  color: var(--heading2-color);
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  background-color: transparent;
  letter-spacing: 2px;
  padding-top: 3rem;
}

.skill_heading_2 {
  color: var(--heading2-color);
  font-size: clamp(1rem, 3vw, 2rem);
  margin-block: 1rem;
  background-color: transparent;
}

.heading_3 {
  color: var(--heading3-color);
  margin-block: 1rem;
}

.social_links {
  margin-block: 5rem;
}

.social_links > ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  list-style: none;
  padding: 0;
}

.social_link_icon {
  background-color: var(--icon-background);
  border-radius: 100%;
  padding: 0.5rem;
}

.icons_copyright {
  color: rgba(var(--card-border-rgb), 0.5);
}

.icons_copyright a {
  text-decoration: underline;
}

.hero_heading {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  opacity: 0;
  animation: drop-in 0.5s ease-in-out 0.1s forwards;
}

@keyframes drop-in {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.profile_image {
  border-radius: 100%;
  opacity: 0;
  animation: fade-in 0.5s ease-in-out 0.5s forwards;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.privacy_section h4 {
  margin-block-end: 1em;
}

.privacy_section p {
  line-height: 1.5rem;
}

.privacy_section {
  max-width: var(--max-width);
  color: #a9a9a9;
}

.privacy_article h1 {
  font-size: 2rem;
  font-weight: 600;
}

.privacy_article h2 {
  font-size: 1.5rem;
  font-weight: 600;
}

.privacy_back_link {
  display: block;
}

.privacy_article > *:not(:first-child) {
  max-width: 90ch;
}

.contact_section {
  width: 100%;
  padding-block: 2rem;
  border-block: 1px solid rgba(var(--card-border-rgb), 0.1);
  display: flex;
  flex-direction: column;
  max-width: var(--max-width);
}

.contact_section p {
  line-height: 1.5rem;
}

.contact_me_container {
  position: absolute;
  top: 1rem;
  right: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact_me_button {
  text-transform: uppercase;
  color: #bebebe;
  background-color: var(--icon-background);
  background: linear-gradient(
    90deg,
    #2f2347 0%,
    rgba(0, 0, 0, 1) 100%,
    rgba(0, 0, 0, 1) 100%
  );
  font-size: 0.8rem;
  letter-spacing: 2px;
  font-weight: 800;
  text-decoration: none;
  border-radius: 5px;
  padding: 1rem 1.5rem;
  border: 1px solid rgba(var(--card-border-rgb), 0.1);
}

.contact_me_button:hover {
  opacity: 1;
  transition: all 0.2s ease-in-out;
  animation: button_hover_animation 0.5s ease-in-out 0.1s forwards;
}

.about_me_button {
  text-transform: uppercase;
  color: #bebebe;
  background-color: #000;
  font-size: 0.8rem;
  letter-spacing: 2px;
  font-weight: 800;
  text-decoration: none;
  border-radius: 5px;
  padding: 1rem 1.5rem;
  border: 1px solid rgba(var(--card-border-rgb), 0.1);
}

.about_me_button:hover {
  opacity: 1;
  transition: all 0.2s ease-in-out;
  background-color: #2f2347;
}

@keyframes button_hover_animation {
  0% {
    opacity: 0;
    background-color: #fff;
    color: #fff;
    box-shadow: 0 0 400px rgba(255, 255, 255, 0.9);
    text-shadow: #000 0 0 10px;
  }
  20% {
    background-color: #fff;
    color: #fff;
    box-shadow: 0 0 100px rgba(255, 255, 255, 0.9);
    text-shadow: #000 0 0 10px;
  }
  100% {
    opacity: 1;
    background-color: #fff;
    color: #fff;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.9);
    text-shadow: #000 0 0 500px;
  }
}

@keyframes scale {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}

@keyframes raise-in {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.contact_button {
  position: relative;
  text-transform: uppercase;
  margin-block-start: 2em;
  font-weight: 900;
  letter-spacing: 2px;
  border: 1px solid rgba(var(--card-border-rgb), 0.2);
  background: transparent;
  background-position: left;
  padding: 1rem 1rem;
  border-radius: 10px;
  cursor: pointer;
  overflow: hidden;
  min-width: 200px;
  transition: all 0.2s ease-in-out;
}

.contact_button:hover {
  transition: all 0.2s ease-in-out;
  background: #754ada35;
}

.contact_button.disabled {
  background: #d0d40e;
  color: #424242;
  cursor: not-allowed;
}

.contact_send_text.animate_out {
  animation: fade-out 0.5s ease-in-out forwards;
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.contact_send_text.animate_in {
  animation: fade-in 0.5s ease-in-out forwards;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.contact_sent_text {
  position: absolute;
  inset: 0;
  margin: 1rem auto;
  font-size: 0.85rem;
  font-weight: 600;
  text-transform: uppercase;
  animation: drop-in 0.5s ease-in-out 0.5s forwards;
}

@keyframes drop-in {
  0% {
    opacity: 0;
    transform: translateY(-100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.contact_send_icon {
  display: none;
  position: absolute;
  inset: 0;
  margin: auto 1px;
  box-shadow: 0 0 0 0 rgba(64, 189, 18, 0.5);
  animation: send-icon 2s ease-in-out infinite;
}

.contact_send_icon.active {
  display: block;
}

@keyframes send-icon {
  0% {
    transform: translateX(-30px);
  }
  100% {
    transform: translateX(200px);
  }
}

@media screen and (max-width: 768px) {
  .hero_heading {
    flex-direction: column;
  }
}

.buttons {
  display: flex;
  gap: 2rem;
}

.link {
  text-decoration: none;
  color: var(--link-color);
  font-weight: 600;
  transition: all 0.2s ease-in-out;
}

.link:hover {
  color: var(--link-hover-color);
  transition: all 0.2s ease-in-out;
}
