.heading_2 {
  color: var(--heading2-color);
  font-size: 1.1rem;
  font-family: var(--font-mono);
  background-color: transparent;
  padding-top: 3rem;
}

.heading_3 {
  color: var(--heading3-color);
  font-family: var(--font-mono);
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-size: 0.85rem;
  margin-block: 1rem;
  padding-block: 1rem;
}

@media screen and (max-width: 500px) {
  .heading_2 {
    text-align: center;
  }
}

.links {
  margin-left: -1rem;
  margin-bottom: -1rem;
  display: flex;
  gap: 2px;
}

.link {
  position: relative;
  padding: 0.5rem 1rem;
  color: var(--link-color);
  text-decoration: none;
  overflow: hidden;
}

@keyframes ripple {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(10);
  }
}

.link:hover {
  color: #8e8e8e;
}

.description {
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  font-size: 1rem;
  max-width: var(--max-width);
  width: 100%;
  z-index: 2;
  font-family: var(--font-mono);
}

.description p {
  position: relative;
  margin: 0;
  margin-block: 1rem;
  line-height: 1.5rem;
}

.projects_section {
  background-image: radial-gradient(
    circle at 20% 50%,
    var(--card-border-rgb) 0%,
    var(--card-border-rgb) 50%,
    var(--card-border-rgb) 100%
  );
  border-radius: 5px;
  opacity: 0;
  max-width: var(--max-width);
  animation: fadeIn 0.5s ease-in-out 0.5s forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.projects {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  margin-block: 2rem;
}

@media screen and (min-width: 400px) {
  .projects {
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  }
}

.project {
  border-radius: 5px;
  height: 100%;
  overflow: hidden;
  border: 1px solid rgba(var(--card-border-rgb), 0.1);
  box-shadow: 10px 0 100px #7a53cd45;
  padding: 1rem;
}

.project_content {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 250px;
}

.project_image {
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: cover;
  object-position: top;
  width: 100%;
  height: 200px;
  border-radius: 5px;
  overflow: hidden;
}
